.HomeCard {
    position: relative;
    height: 208px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
    margin: 0;
    padding-top: 16px;
}

.HomeCard__header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}
