.HomeDiscount {
    float: right;
    width: 64px;
    height: 24px;
    background-image: url('../../../assets/discount.png');
    background-position: center;
    background-size: 100% 100%;
    background-size: cover;
    text-align: right;
    box-sizing: border-box;
    padding: 4px 8px 4px 9px;
}

.HomeDiscount__span {
    color:white;
    font-size: 18px;
}