.Category {
    display: flex;
    flex-direction: row;
}
.Category__img {
    width: 24px;
    height: 24px;
}

.Category__divImg {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
}

.Category__span {
    margin-left: 16px;
    font-size: 16px;
    text-align: left;
    color: rgb(142, 145, 147);
    font-family: OpenSans
}