.PointPhoneNumber {
  height: 72px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(227, 227, 227);
  margin-top: 16px;
}

.PointPhoneNumber__img {
  width: 24px;
  height: 24px;
  margin: 24px 0px 24px 24px;
}

.PointPhoneNumber__div {
  margin: 24px 0px 24px 16px;
}
