.PointScreen {
  display: flex;
  flex-direction: column;
}

.PointDescription {
  margin: 12px 24px 16px 24px;
}

.PointScreen__Rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 24px 12px 0px;
}

.PointWorkingHours {
  margin: 16px 24px 0px 24px;
}

.PointCostSum {
  margin: 16px 24px 0px 24px;
}
