.HomeModalFilter {
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 0;
  top: 45px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.HomeModalFilter__category {
  height: 64px;
  display: flex;
  margin: 20px 0 20px 16px;
}

.HomeModalFilter__logo {
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
}
