.HomeDistance {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

.HomeDistance__img {
    width: 20px;
    height: 20px;
}

.HomeDistance__value {
    color:rgb(243, 61, 65);
    font-size: 18px;
    font-family: OpenSans-Semibold;
    font-weight: bold;
    margin-left: 12px;
    text-align: left;
}