.HomeScreen {
  margin-left: 16px;
  margin-top: 45px;
}

.HomeHeader {
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(217, 217, 217);
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.HomeHeader__filter {
  margin: 11px 16px 11px 16px;
}

.HomeHeader__logo {
  width: 36px;
  height: 36px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin: 6px 0px 6.7px 16px;
}
