.PointHeaderImage{
    position: relative;
    height: 232px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


.PointHeaderImage__back {
    position: absolute;
    left: 16px;
    top: 30px;
    width: 12px;
    height: 24px;
}
